<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.duoline.papacatering">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/careting_r"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ro.duoline.papacatering.MainActivityFirst"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ro.duoline.papacatering.ConfirmaRezervarea_Activity"
            android:parentActivityName="ro.duoline.papacatering.Rezervare_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ro.duoline.papacatering.Rezervare_Activity"
            android:parentActivityName="ro.duoline.papacatering.MainActivityFirst"
            android:screenOrientation="portrait" />
        <activity
            android:name="ro.duoline.papacatering.AfisareProfile_Activity"
            android:parentActivityName="ro.duoline.papacatering.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ro.duoline.papacatering.AddProfilActivity"
            android:parentActivityName="ro.duoline.papacatering.AfisareProfile_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ro.duoline.papacatering.MainActivity"
            android:parentActivityName="ro.duoline.papacatering.MainActivityFirst"
            android:screenOrientation="portrait" />
        <activity
            android:name="ro.duoline.papacatering.CategoriiMeniu_Activity"
            android:parentActivityName="ro.duoline.papacatering.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ro.duoline.papacatering.FeluriMeniu_Activity"
            android:parentActivityName="ro.duoline.papacatering.CategoriiMeniu_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ro.duoline.papacatering.ConfirmaComanda_Activity"
            android:parentActivityName="ro.duoline.papacatering.FeluriMeniu_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ro.duoline.papacatering.AfisareAdrese_Activity"
            android:parentActivityName="ro.duoline.papacatering.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ro.duoline.papacatering.AddAdreseActivity"
            android:parentActivityName="ro.duoline.papacatering.AfisareAdrese_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ro.duoline.papacatering.IstoricComenzi_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="ro.duoline.papacatering.MainActivity" />

        <receiver android:name="ro.duoline.papacatering.MesajeNotificationReceiver"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>